.container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.input {
  border: 2px solid #ddd;
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
}

.button {
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: #929cb2;
  color: white;
}
